/src/Db/database.ini
/bootstrap/compiled.php
/vendor
/node_modules

/build/logs
/build/coverage


/app/tests/_log

.idea


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages


/node_modules


.env
